/* Global variables */
:root {
    font-size: 16px;
    
    --color-white: #fff;
    --color-dark-beige: #d4cdc3;
    --color-beige: #E0DAD0;
    --color-light-beige: #F6F1E7;
    --color-green: #179D88;
    --color-dark-green: #0F6759;
    --color-light-grey: #aaa;
    --color-dark-grey: #666;
    --color-black: #222;

    --content-size: 1200px;
}

body {
    background-color: var(--color-beige);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-green);
    color: var(--color-white);
}

header > div {
    width: 100%;
    padding: 1rem 0;
    max-width: var(--content-size);
}

header a {
    color: var(--color-white);
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

header .copy-btn::after {
    color: var(--color-white);
}

.content-container {
    padding-top: 2rem;
}

.empty-slot,
.blob-container,
.small-blob-container {
    border: 2px var(--color-dark-beige) dashed;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    min-height: 5rem;
}

.blob-container {
    border: 2px var(--color-light-grey) dashed;
}

.small-blob-container {
    height: 5rem;
    position: relative;
    transition: all .2s ease-in-out;
}

.small-blob-container svg.blob,
.blob-container svg.blob {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.controls-section {
    justify-content: space-evenly;
    gap: 2rem;
}

.controls-container {
    width: 100%;
    max-width: var(--content-size);
    border-radius: 1rem;
    padding: 4rem;
    background-color: var(--color-light-beige);
    box-shadow: rgba(0,0,0,0.01) 0px 1px 0px,rgba(0,0,0,0.025) 0px 0px 8px,rgba(0,0,0,0.075) 0px 20px 30px;
}

.control-container {
    gap: .75rem;
    align-items: center;
}

.control-container::before,
.control-container::after {
    width: 2rem;
    height: 2rem;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.control-container.controls-num-blobs::before {
    background-image: url('../icons/circle.png');
}
.control-container.controls-num-blobs::after {
    background-image: url('../icons/circles.png');
}
.control-container.controls-scale::before {
    background-image: url('../icons/circle.png');
    width: 1.25rem;
    height: 1.25rem;
}

.control-container.controls-scale::after {
    background-image: url('../icons/circle.png');
}

.control-container.controls-rotate::before {
    background-image: url('../icons/rotate.png');
}

.control-container.controls-num-points::before {
    background-image: url('../icons/triangle.png');
}
.control-container.controls-num-points::after {
    background-image: url('../icons/pentagon.png');
}

.control-container.controls-irregularity::before {
    background-image: url('../icons/circle.png');
}
.control-container.controls-irregularity::after {
    background-image: url('../icons/blob.png');
}

.control-container.controls-stroke::before {
    background-image: url('../icons/stroke.png');
}
.control-container.controls-stroke::after,
.control-container.controls-color::before,
.control-container.controls-color::after {
    content: none;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--color-beige);
    border-radius: 5px;
    background-image: none;
  }
  
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: var(--color-green);
    cursor: grab;
    border: none;
    transition: all .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=color]{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: #222;
    padding: 2px;
}

input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0; 
}
input[type=color]::-webkit-color-swatch,
input[type=color]::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}

.close-btn {
    box-sizing: content-box;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.close-btn:hover {
    box-shadow: none !important;
}

.btn-action {
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.btn-action > img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: invert();
}

.close-btn img {
    filter: none;
}

.blob-container > svg,
.small-blob-container > svg {
    position: static;
}

.blob {
    animation: float 4s ease-in-out infinite alternate;
}

@keyframes float {

    0% { transform: translateY(0px); }
    50%  { transform: translateY(15px); }
    100%   { transform: translateY(-0px); } 
    
}

.stored-blobs-container {
    gap: .5rem;
}

.empty-slot > button {
    display: none
}

.small-blob-container > button {
    position: absolute;
    top: 4px;
    right: 4px;
    border: 2px var(--color-light-grey) solid;
    border-radius: 50%;
    transform: translate(50%,-50%);
    background-color: var(--color-light-beige);
    width: 100%;
    max-width: 1.5rem;
    height: 100%;
    max-height: 1.5rem;
    padding: 4px;
    transition: all .4s ease-in-out;
}

.small-blob-container > button:hover {
    background-color: var(--color-beige);
    border-color: #222;
}

.small-blob-container > button > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 20%;
    transition: all .4s ease-in-out;
}

.small-blob-container > button:hover > img {
    opacity: 80%;
}

.btn-action:hover,
.slider:hover,
.small-blob-container:hover {
    box-shadow: rgba(0,0,0,0.01) 0px 1px 0px,rgba(0,0,0,0.025) 0px 0px 8px,rgba(0,0,0,0.075) 0px 20px 30px;
}


dialog {
    border: none;
    position: fixed;
    top: 20vh;
    margin: auto;
    padding: 3rem;
    border-radius: 1rem;
    background-color: var(--color-light-beige);
    z-index: 999;
    box-shadow: rgba(0,0,0,0.01) 0px 1px 0px,rgba(0,0,0,0.025) 0px 0px 8px,rgba(0,0,0,0.075) 0px 20px 30px;
}

.modal-opened::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 998;
}

#svg-code-p {
    background-color: var(--color-dark-beige);
    overflow-x: scroll;
    border-radius: 1rem;
    min-width: 400px;
    max-width: calc(var(--content-size)/2);
    min-height: 80px;
    padding: 1rem;
}

.copy-btn {
    position: relative;
}

.copy-btn:active::after {
    content: 'Copied!';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0%;
    animation: fadeUpContent .175s ease-in-out 1;
}

@keyframes fadeUpContent {
    0% {
        transform: translateY(0);
        opacity: 100%;
    }
    50% {
        transform: translateY(-20%);
        opacity: 50%;
    }
    100% {
        transform: translateY(-30%);
        opacity: 0%;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-green);
    color: var(--color-white);
}

footer > div {
    width: 100%;
    padding: .5rem 0;
    max-width: var(--content-size);
}

footer a {
    color: var(--color-light-beige);
}

footer a:visited  {
    color: var(--color-dark-beige);
}

footer a:hover  {
    color: var(--color-dark-green);
}