
.control-container.controls-num-points::before {
    background-image: url('../icons/triangle.png');
}
.control-container.controls-num-points::after {
    background-image: url('../icons/pentagon.png');
}

.control-container.controls-irregularity::before {
    background-image: url('../icons/circle.png');
}
.control-container.controls-irregularity::after {
    background-image: url('../icons/blob.png');
}

.control-container.controls-stroke::before {
    background-image: url('../icons/stroke.png');
}
.control-container.controls-stroke::after,
.control-container.controls-color::before,
.control-container.controls-color::after {
    content: none;
}

.empty-slot > button {
    display: none
}

.small-blob-container > button {
    position: absolute;
    top: 4px;
    right: 4px;
    border: 2px var(--color-light-grey) solid;
    border-radius: 50%;
    transform: translate(50%,-50%);
    background-color: var(--color-light-beige);
    width: 100%;
    max-width: 1.5rem;
    height: 100%;
    max-height: 1.5rem;
    padding: 4px;
    transition: all .4s ease-in-out;
}

.small-blob-container > button:hover {
    background-color: var(--color-beige);
    border-color: #222;
}

.small-blob-container > button > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 20%;
    transition: all .4s ease-in-out;
}

.small-blob-container > button:hover > img {
    opacity: 80%;
}