* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    font-size: 16px;
    --color-dark-beige: #d4cdc3;
    --color-beige: #E0DAD0;
    --color-light-beige: #F6F1E7;
    --color-green: #179D88;
    --content-size: 1200px;
}

body {
    min-height: 1000px;
    background-color: var(--color-beige);
}

.f-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.f-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container {
    gap: 3rem;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 3rem 0;
}

.blob-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.1);
}

.blob-container svg.blob {
    width: 120%;
    height: 120%;
    object-fit: cover;
    object-position: center;
}

.controls-container {
    position: fixed;
    bottom: 3rem;
    margin: auto;

    width: 100%;
    max-width: var(--content-size);
    border-radius: 1rem;
    padding: 2rem;
    
    background-color: var(--color-light-beige);
    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255,255,255,0.15);
    border: 1px solid rgba(255, 255, 255, 0.125); */

    box-shadow: rgba(0,0,0,0.01) 0px 1px 0px,rgba(0,0,0,0.025) 0px 0px 8px,rgba(0,0,0,0.075) 0px 20px 30px;
}

.control-container {
    gap: .75rem;
}

.control-container::before,
.control-container::after {
    width: 2rem;
    height: 2rem;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.control-container.controls-num-blobs::before {
    background-image: url('../icons/circle.png');
}
.control-container.controls-num-blobs::after {
    background-image: url('../icons/circles.png');
}
.control-container.controls-scale::before {
    background-image: url('../icons/circle.png');
    width: 1.25rem;
    height: 1.25rem;
}

.control-container.controls-scale::after {
    background-image: url('../icons/circle.png');
}

.control-container.controls-rotate::before {
    background-image: url('../icons/rotate.png');
}

.control-container.controls-num-points::before {
    background-image: url('../icons/triangle.png');
}
.control-container.controls-num-points::after {
    background-image: url('../icons/pentagon.png');
}

.control-container.controls-irregularity::before {
    background-image: url('../icons/circle.png');
}
.control-container.controls-irregularity::after {
    background-image: url('../icons/blob.png');
}

.control-container.controls-stroke::before {
    background-image: url('../icons/stroke.png');
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 150px;
    height: 6px;
    background: var(--color-beige);
    border-radius: 5px;
    /* background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 70% 100%;
    background-repeat: no-repeat; */
    background-image: none;
  }
  
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: var(--color-green);
    cursor: grab;
    border: none;
    transition: background .3s ease-in-out;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  

h1 {
    font-size: 3rem;
}

.blob {
    animation: float 4s ease-in-out infinite alternate;
}

@keyframes float {

    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); } 
    
}